/* Global */ 
* {
	box-sizing: border-box;
}

body {
	position: relative;
	margin: 0;
}

a {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: underline;
	transition: color 0.5s linear;
	
}

a:hover {
	text-decoration: none;
	color: #fff;
}

/* header */

.header {
	position: absolute;
	width: 100%;
	display: flex;
	padding: 0 10%;
}

.logo {
	width: 129px;
	height: 108px;
}

.menu {
	margin-left: auto;
}

.menu__list {
	display: flex;
	align-items: center;
	list-style: none;
	height: 100%;
	margin: 0;
	padding: 0;
}
 
.menu__item {
	margin-right: 30px;
	list-style: none;
	position: relative;
	color: rgba(255, 255, 255, .8);
}

.menu__link {
	text-transform: uppercase;
	text-decoration: none;

}

.button-menu {
	display: none;
	list-style: none;
	margin: 0;
	padding: 10px 0 0;
	text-align: right;
	position: absolute;
	right: 0;
}

.button-menu__link {
	padding: 10px 40px;
	display: block;
	text-decoration: none;
	background-color: rgba(255, 255, 255, .4);
}

.button-menu__link:hover {
	background-color: #eee;
	color: #333;
}

#checkbox-button-menu:checked + .button-menu {
	display: block;
}

/* section main*/

.main {
	background-image: url('images/bg.jpg');
	background-size: cover;
	height: 100vh;
	color: #fff;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.main__title {
	color: rgba(255, 255, 255, 0.8);
	font-family: 'Times New Roman';
	font-size: 36px;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 1.8px;
	text-shadow: 0px 1px 40px rgba(1, 1, 1, 0.55);
	text-align: center;
	margin-bottom: 40px;
}

.main__title-big {
	font-family: 'Arial';
	font-size: 80px;
	display: block;
	font-style: normal;
	text-transform: uppercase;
	color: #fff;

}

.main__button {
	color: #fff;
	font-size: 18px;
	font-weight: 700;

	border-radius: 3px;
	border: 3px solid #fff;
	width: 280px;
	height: 68px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	text-decoration: none; 
	margin-bottom: 40px;
}

.main__description {
	font-size: 14px;
	line-height: 
	color: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
}

.featoures {
	padding: 100px 10%;
}

.featoures__list {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	list-style: none;
}

.featoures__item {
	width: 360px;
	padding: 0 10px;
	text-align: center;
}

.featoures__item:before {
	content: "";
	width: 107px;
	height: 107px;
	border: 1px solid #000;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
	display: inline-block;

}

.featoures__item--burger:before{
	background-image: url('images/burger@2x.png');
}

.featoures__item--money:before{
	background-image: url('images/money@2x.png');
}

.featoures__item--man:before{
	background-image: url('images/man@2x.png');
}

.featoures__description {
	margin: 0;
	font-size: 16px;
	font-weight: 300;
	line-height: 18px;
	color: #8b8b8b;
}

.section-title {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0 0 19px;
}

.section-title--mealse {
	margin-bottom: 50px;
}

.section-title--left {
	align-items: left;
}

.section-title:after {
	content: "";
	height: 1px;
	width: 88px;
	margin-top: 10px;
	background-color: #f69679;
}


.app {
	padding: 180px 10% 0;
	background-color: #f7f7f7;
	height: 700;
	display: flex;
}

.app__image {
	width: 523px;
	background-image: url('images/iphone@2x.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
	margin-top: -80px;
}

.app__content {
	width: 543px;
	margin-left: auto;
	margin-left: 40px;
}

.app__description {
	color: #8b8b8b;
	font-size: 16px;
	font-weight: 300;
	line-height: 18px;
	margin: 0 0 30px;
}

.app__link {
	display: inline-block;
	margin-right: 10px;
	text-indent: -9999px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
}

.app__link--appstore {
	width: 112px;
	height: 39px;
	background-image: url('images/appstore@2x.png');
}

.app__link--googleplay {
	width: 120px;
	height: 39px;
	background-image: url('images/googleplay@2x.png');
}

.review {
	background-color: #4a3949;
	background-image: url('images/review-bg@2x.png');
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
	padding: 80px 0;
	color: rgba(255, 255, 255, 50%);
	text-align: center;
}

.review__avatar {
	width: 104px;
	height: 104px;
	margin-bottom: 30px;
}

.review__text {
	font-size: 30px;
	line-height: 36px;
	margin: 0 0 30px; 
}

.review__autor {
	font-size: 18px;
	line-height: 36px;
	font-style: italic;
	margin-bottom: 40px;
}

.review-control__item {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, .2);
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;
}

.review-control__item--active {
	background-color: #fff;
}

.meals {
	padding: 100 0 50px;
}

.meals__list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	margin bottom: 60px;
}

.meals__item {
	background-size: 100%;
	width: 20%;
	height: 255px;
	color: #fff;	
	position: relative;
	background-repeat: no-repeat;
}

#meals__item__1 {
	background-image: url('images/meals/italian.png');
}

#meals__item__2 {
	background-image: url('images/meals/indian.png');
}

#meals__item__3 {
	background-image: url('images/meals/french.png');
}

#meals__item__4 {
	background-image: url('images/meals/steakhouse.png');
}

#meals__item__5 {
	background-image: url('images/meals/seafood.png');
}

#meals__item__6 {
	background-image: url('images/meals/sushi.png');
}

#meals__item__7 {
	background-image: url('images/meals/mexican.png');
}

#meals__item__8 {
	background-image: url('images/meals/chinese.png');
}

#meals__item__9 {
	background-image: url('images/meals/pizza.png');
}

#meals__item__10 {
	background-image: url('images/meals/american.png');
}

.meals__countent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 0px, 1px, 40px rgba(1, 1, 1, .55);
	text-align: center;
}

.meals__counter {
	font-size: 15px;
	line-height: 30px;
	font-style: italic;
	letter-spacing: .7px;
	flex-wrap: wrap;
}

.meals__title {
	font-size: 36px;
	font-weight: 700px;
	text-transform: uppercase;
	margin: 0;
}

.recipes-counter {
	color: #000;
	padding: 0;
	margin: 60px 0 0 0;
	list-style: none;
	padding: 0 10%;
	display: flex;
	justify-content: space-between;
}

.recipes-counter__title {
	font-size: 36px;
	font-weight: 700;
	line-height: 30px; 
	margin: 0 0 12px;
}

.recipes-counter__description {
	font-size: 16px;
	font-weight: 300;
	line-height: 18px;
	padding: 0;
}

.foter {
	height: 93px;
	background-color: #f7f7f7;
	padding: 0 10%;
	font-size: 14px;
	display: flex;
	align-items: center;
}

.foter__copyright {
	color: rgba(139, 139, 139, .5);
	margin: 0;
}

.foter__design {
	margin: 0;
	text-transform: uppercase;
	color: #8b8b8b;
	margin-left: auto;
}

.foter__link{
	color: #000;
	font-weight: 400;
}